# Semana Exploratory Data Analysis (EDA)

# Problema
- Uma escola necessita trabalhar com filmes em seu planejamento pedagógico.
- Ela necessita de visualizar as notas de diversos filmes em suas diversas categorias.
- Os filmes devem atravessar gerações.

# Ambientação Python

In [3]:
# Comentario de uma linha
"""
comentário de múltipla linha
"""
print("hello EDA")
msg = input('Como será essa semana?')
print(f"será: {msg}")

hello EDA
será: produtiva

## Caracteriticas python
- Multiplataforma
- DC e IA
- Identação
- Tipagem Dinâmica
- Bibliotecas
- Paradigma funcional (lambda)
- Paradigma Orientação a objeto
- Paradigma Estruturado
- Microserviços

### Exemplo Orientado a objeto

### Exemplo funcional (lambda)

In [4]:
# Instalar o Numpy
! pip install numpy

Collecting numpy
  Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl.metadata (59 kB)
Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----- ---------------------------------- 1.8/12.6 MB 9.1 MB/s eta 0:00:02
   ------------ --------------------------- 3.9/12.6 MB 10.2 MB/s eta 0:00:01
   ------------------- -------------------- 6.0/12.6 MB 10.3 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.6 MB 10.4 MB/s eta 0:00:01
   ---------------------------------- ----- 10.7/12.6 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 10.4 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.1.0

In [5]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [6]:
# definindo um lambda
dobro = lambda x:x*2

Criar uma matriz 4x3

In [8]:
import numpy as np

In [9]:
matriz_4x3 = np.array([[1, 2, 3, 4],
                       [2, 4, 6, 8],
                       [3, 8, 12, 16],
                       [4, 16, 24, 32]])

In [10]:
matriz_4x3

array([[ 1,  2,  3,  4],
       [ 2,  4,  6,  8],
       [ 3,  8, 12, 16],
       [ 4, 16, 24, 32]])

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(matriz_4x3)

In [13]:
df.head()

   0   1   2   3
0  1   2   3   4
1  2   4   6   8
2  3   8  12  16
3  4  16  24  32

In [14]:
df_dobrado = df.apply(dobro)

In [16]:
df_dobrado.head()

   0   1   2   3
0  2   4   6   8
1  4   8  12  16
2  6  16  24  32
3  8  32  48  64

# Iniciando nosso primeiro EDA

## Solução - Melhores filmes para a Escola

Importando o DataSet

In [21]:
df_filmes = pd.read_csv('datasets/ratings.csv')

In [22]:
df_filmes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [37]:
df_filmes.colums = ['usuario_id', 'filme_id', 'avaliacao', 'quando']

In [38]:
df_filmes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Mostrando uma SERIES

In [ ]:
df_filmes['avaliacao']

# de uma forma mais sintática

In [ ]:
df_filmes.avaliacao

### Nossa primeira EDA (Analisar a quantidade de filmes por avaliações)

In [29]:
df_filmes.value_counts

<bound method DataFrame.value_counts of         userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]>

In [ ]:
df_filmes.avaliacao.value_counts()

### média de todas as notas

In [ ]:
df_filmes.avaliacao.mean()

### Mostrar valores únicos

In [ ]:
df_filmes.avaliacao.unique()

### Contando histários com Histogramas

In [33]:
! pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.2.1-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Using cached fonttools-4.53.1-cp312-cp312-win_amd64.whl.metadata (165 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.5-cp312-cp312-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib) (2.1.0)
Requirement already satisfied: packaging>=20.0 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-10.4.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
Using cached contourpy-1.2.1-cp312-cp312-win_amd64.whl (189 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.53.1-cp312-cp312-win_amd64.whl (2.2 MB)
Using cached kiwisolver-1.4.5-cp312-cp312-win_amd64.whl (56 kB)
Using cached pillow-10.4.0-cp312-cp312-win_amd64.whl (2.6 MB)
Using cached pyparsing-3.1.2-py3-none-any.whl (103 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.53.1 kiwisolver-1.4.5 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.2

In [34]:
! pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from seaborn) (2.1.0)
Requirement already satisfied: pandas>=1.2 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\semanaedatarde\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [ ]:
df_filmes.avaliacao.plot(kind='hist')